<%= form_for :purchases, url: purchases_path do |f| %>
  <%= f.file_field :file %>
  <%= f.submit 'Enviar' %>
<% end %>

<% flash.each do |key, value| %>
  <div>
    <b><%= value %></b>
  </div>
<% end %>

